
/*-- //tayo with--*/
#tayo-search {
	background: #007bff;
	color : #fff;
	margin: 0px;
	margin-left:5px;
	padding: 0px;
	padding-top : 3.5px;
	width: 5%;
	border-radius: 0.25rem;
	text-align: center;
}

#filter-title {
	text-align: center;
	width: 10%;
	font-weight: bold;
}

#filter-body >button {
	margin-right: 25px;
} 

#city-toggle {
	margin-top: 20px;
}

#tayowith-filter{
	margin-bottom: 60px;
	
}

#tayowith-paging{
	margin-top: 100px;
	margin-bottom: 200px;
}


/*-- //tayo with Plan Detail--*/
.twplandetail{
	width: 100%; height: 400px;
}
.pdheader{
	background-image:url("/TaYo/images/p1.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	display: table;
	width: 100%; height: 100%;
	
}

.pdheaderdetail{
	color: white;
	display: table-cell;
	vertical-align: bottom;
}

.pdheaderdetailcontent{
	padding: 20px 90px 20px 20px;
	background-color: rgba(0, 0, 0, 0.4);
	font-size: 18px;
}
.pname{
	font-size: 30px;
	font-weight: bold;
}
.twppeople{
	font-weight: bold;
}
.pcontent{
	text-align: right;
	font-size: 23px;
	font-weight: bold;
	font-style: italic;
}

.pdmenu{
	margin-top: 20px;
}
.joinbtnlist{
	text-align: right;
	width: 60%;
	padding-right: 0px;
}
.joinbtnlist>li{
	display: inline;
	
}
.daymap{
	width: 35%;
	float: right;
	height: 300px;
	
}
.daymapcontent{
	margin-left: 10px;
	border: 1px solid;
	height: 300px;
}
.daycontent{
	width: 65%;
}
.daytitle{
	height: 70px;
}
.daynum{
	background-color: navy;
	color: white;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	width: 20%;
	float: left;
	text-align: center;
}
.daytitlecontent{
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	border-color: #BDBDBD;
	width:80%;
	
	padding: 8px;
	float: left;
}
.daydetail{
	height: 160px;
	border: 1px solid;
	border-color: #BDBDBD;
}
.daydate{
	color: #A4A4A4;
	font-weight: bold;
	font-size: 15px;
}
.daycplace{
	font-size: 20px;
	font-weight: bold;
}
.daydetailnum{
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 30px;
	height:130px;
}
.daydetailimg{
	width: 10%;
	padding-top: 10px;
	float: left;
}
.daydetailcontent{
	width:60%;
	height: 60px;
	padding: 10px;
	float: left;
	font-size: 18px;
	font-weight: bold;
}
.daydetailfa{
	width: 10%;
	height: 60px;
	float:right;
}
.daydetailfa>span{
	font-size: 30px;
	color : #007bff;
	padding-top: 10px;
}
.daydetailsub{
	font-size: 13px;
	
}



.rrrrrrr{
	height: 1000px;
}